.title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}

.wrapper {
    margin-top: 40px;
    margin-right: 30px;
}

.hhtitle {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: baseline;
    justify-items: left;
    gap: 20px;
}

@media screen and (max-width: 756px) {
    .wrapper {
        margin-right: 0;
    }
}